#daycheck{
    height:13px;
    width:13px;
}
#checkdiv{
    display: flex;
    flex-direction: column; /* Stacks checkboxes vertically */
    gap: 10px; 
}
#checkbox-label {
    display: flex;
    align-items: center;
    gap: 20px; /* Small gap between checkbox and text */
}