*{
    margin:0;
    /* scroll-behavior: smooth; */
}
#speciality{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin-bottom: 20px;
    font-weight: 800;
    color: #165e98;
}
#para{
    font-size: larger;
    width: 500px;
    color: #3674a7;
    margin-bottom: 50px;
    text-align: center;
}
#test{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap:60px;
    /* margin-bottom: 50px; */
}
#body{
    margin-top: 40px;
    /* margin-bottom: 20px; */
}
#round1,#round2,#round3,#round4,#round5,#round6{
    background-color:#3674a7;
    width:100px;
    height:100px;
    border-radius: 50px;
    /* background-image: url('searchHosp.jpg'); */
   background-size: cover;
   background-position: center;
   border: none;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
    margin-bottom: 10px;
}
#round1:hover,#round2:hover,#round3:hover,#round4:hover,#round5:hover,#round6:hover{
    opacity: 0.8;
    transform: scale(1.1);
}