*{
    margin:0;
}
.nav{
    height:60px;
    background-color: rgb(202, 231, 248);
    /* color:white; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#findDoc{
    height:60px;
    padding-left: 6px;
}
#user{
    height:45px;
    width:150px;
    margin-right: 20px;
    cursor: pointer;
    border:none;
    transition: transform 0.3s, opacity 0.3s;
    border-radius: 5px;
    padding-right: 10px;
    font-size: medium;
    background-color: #3674a7;
    color: rgb(202, 231, 248);
}
#user:hover{
    opacity: 0.8;
    transform: scale(1.1);
}
#findDr{
    margin:0;
  color:#3674a7;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: large;
}
/* New navbar */
.newnav {
    display: flex;
    gap: 15px;
    justify-content: center; /* Center the navbar links horizontally */
    flex-grow: 1; /* Ensures the navbar takes up remaining space */
  }
  
  .newnav a {
    
    color:#165e98;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    position: relative; 
    transition: color 0.3s ease;
  }
  
  .newnav a:hover {
    color: #1a71ea;
    border-radius: 4px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    
  }
  .newnav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Center the underline */
    width: 0;
    height: 2px;
    background-color: #1a71ea;
    transition: width 0.3s ease;
    border-radius: 50px;
  }
  
  /* Apply underline only when the link has the 'update' class (active state) */
  .newnav a.update::after {
    width: 50%; /* Make the underline appear when active */
  }
  
  /* Active link styles */
  .newnav a.update {
    color: #1a71ea; /* Change the font color when active */
    font-weight: 500; /* Optionally make the font bold */
  }
